  <header>
      <a href="#" class="logo">
          <img src="{{ 'logo.svg' | asset_url }}" alt="Logo" />
      </a>
      <div class="menu-links-container">
          <nav>
              <ul class="menu-links">
                  <li><a class="active" href="#inicio">Inicio</a></li>
                  <li><a href="#nosotros">Acerca de nosotros</a></li>
                  <li><a href="#historia">Historia</a></li>
                  <li><a href="#contacto">Contacto</a></li>
              </ul>
          </nav>
          <div class="language-select">
              <a href="#" class="active">ES</a>
              <a href="#">EN</a>
          </div>
      </div>
      <button id="menuToggle" class="menu-toggle" aria-label="Toggle menu">🍔</button>
      <div id="dropdown" class="dropdown">
          <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Acerca de nosotros</a></li>
              <li><a href="#">Historia</a></li>
              <li><a href="#">Contacto</a></li>
          </ul>
      </div>
  </header>
