    <section class="section-2">
        <div class="section-2__category-label">
            <p>TENNIS</p>
        </div>
        <div class="section-2__content">
            <h2>Raquetas. Accesorios.<br />Pelotas.</h2>
            <p>Conoce nuestras raquetas y aprende a jugar Tennis como un profesional.</p>
        </div>
        <div class="section-2__button-container">
            <a href="#" class="btn btn-template-2">Historia</a>
        </div>
    </section>
